{% extends 'layout/layout.html' %}
{% block content %}

			<script>
			function myFunction() {
			  var d = new Date()
			  var day = d.getDate()
			  var year = d.getFullYear()
			  var month = d.getMonth()+1
			  var n = day.toString()+'.'+month.toString()+'.'+year.toString()
			  document.getElementById("InputDateTime").innerHTML = n;
			}
			</script>
			<div class="content">
			  <div>
				<label for="topNumber">SYS [mmHg]</label>
				<input id="topNumber" name="topNumber" type="text" placeholder="top number" required>
			  </div>
			  <div>
				<label for="bottomNumber">DIA [mmHg]</label>
				<input id="bottomNumber" name="bottomNumber" type="text" placeholder="bottom number" required>
			  </div>
			  <div>
				<label for="puls">Puls [1/min]</label>
				<input id="puls" name="puls" type="text" placeholder="Puls" required>
			  </div>
			  <div>
				<label for="DateTime">Date (if the date is not defined by the user, the actual date will be taken)</label>
				<input id="DateTime" name="DateTime" type="date" placeholder="Date and time">				
			  </div>
			  <div>
				<label for="Time">Time (if the time is not defined by the user, the actual time will be taken)</label>
				<input id="Time" name="Time" type="time" placeholder="Time" value="17:00" >
			  </div>
			</div>
			<div class="content">
				<button class="button btn-grey" name="itemAdd" type="submit">Add item</button>
				<button class="button btn-red" formnovalidate="" name="itemDelete" type="submit" onclick="$('input#sublist').click();">Delete item</button>
				<button class="button btn-grey" formnovalidate="" name="Data" type="submit">Data</button>
				<button class="button btn-grey" formnovalidate="" name="plotData" type="submit">Data plot</button>
			</div>
			<div class="content">
				<table class="table">
					<thead>
					  <tr>
						<th>Del/</th>
						<th>Date</th>
						<th>Time</th> 
						<th>SYS [mmHg]</th>
						<th>DIA [mmHg]</th>
						<th>Puls [1/min]</th>
					  </tr>
					</thead>
					<tbody>
					{% for groser in bp %} <!-- django template - for loop -->
					  <tr>
						<td><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ groser.id }}" value="{{ groser.id }}"></td>
						<td>{{ groser.created }}</td>
						<td>{{ groser.created_time }}</td>
						<td>{{ groser.topNumber }}</td>
						<td>{{ groser.bottomNumber }}</td>
						<td>{{ groser.puls }}</td>
					  </tr>
					  {% endfor %}
					</tbody>
				  </table>
			 </div>
{% endblock %}