<!DOCTYPE html>
<html>
	<head>
		<title>Blood Pressure Log</title>
		{% load static %}
		<link rel="shortcut icon" href="#">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css">
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css">
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
		<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
		
	<!--
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	-->
	</head>

	<body>
		<ul>
			<li><a class="active" href="index">Blood Pressure Log</a></li>
			<li><a href="data">Show the data</a></li>
			<li><a href="plots_bokeh">Plot the data</a></li>
		</ul>
		<form name="input_numbers"  action="" method="post">
			<div class="content">
			  <h2>Blood Pressure Log</h2>
				{% csrf_token %}
			</div>
			{% block content %}
            {% endblock %}
		</form>
	</body>
</html>